! Base16 Material Palenight
! Scheme: Nate Peterson

#define base00 #292d3e
#define base01 #444267
#define base02 #32374d
#define base03 #676e95
#define base04 #8796b0
#define base05 #959dcb
#define base06 #959dcb
#define base07 #ffffff
#define base08 #f07178
#define base09 #f78c6c
#define base0A #ffcb6b
#define base0B #c3e88d
#define base0C #89ddff
#define base0D #82aaff
#define base0E #c792ea
#define base0F #ff5370

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! xterm
xterm*loginShell: true
xterm*saveLines: 200000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-256color
xterm*eightBitInput: false
xterm*boldColors: false
xterm*faceName: FiraMono Nerd Font:style=medium:size=12.5:unscaled
XTerm*ttyModes: erase ^?
XTerm*VT100.Translations: \
        #override <Key>BackSpace: string(0x7f) \n\
	 	  <Key>Delete:    string(0x1b) string("[3~")
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! Rofi
rofi.font: DejaVu Sans Mono 12
rofi.padding: 20
rofi.line-padding: 2
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.color-window: #1c2023, #919ba0, #1c2023
rofi.color-normal: #1c2023, #919ba0, #1c2023, #a4a4a4, #1c2023
rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49

! Fonts
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
